// **** COLORS ****
// Primary Colors
$orange-base: #EF511F;
$orange-light-5: lighten($orange-base, 10);


$blue-base: rgb(63, 81, 181);
$blue-light-90: lighten($blue-base, 90);
$blue-light-80: lighten($blue-base, 80);
$blue-light-75: lighten($blue-base, 75);
$blue-light-60: lighten($blue-base, 60);
$blue-light-50: lighten($blue-base, 50);
$blue-light-30: lighten($blue-base, 30);
$blue-light-20: lighten($blue-base, 20);
$blue-light-10: lighten($blue-base, 10);
$blue-light-5: lighten($blue-base, 5);

$grey-base: #343434;
$grey-light-90: lighten($grey-base, 90);
$grey-light-80: lighten($grey-base, 80);
$grey-light-75: lighten($grey-base, 75);
$grey-light-60: lighten($grey-base, 60);
$grey-light-50: lighten($grey-base, 50);
$grey-light-30: lighten($grey-base, 30);
$grey-light-20: lighten($grey-base, 20);
$grey-light-10: lighten($grey-base, 10);
$grey-light-5: lighten($grey-base, 5);



// **** FONT SIZES ****
$size-1: 24px;
$size-2: 21px;
$size-3: 18px;
$size-4: 14px; 
$size-5: 12px; 
$size-6: 12px;
