<div class="row mt-4">
  <div class="col-md-6">
    <h6>Upload your music catalogue (.csv file)</h6>
    <div class="row gy-5 gx-3 align-items-center">
      <div class="col-auto">
        <input #csvReader class="form-control" type="file" id="csvFileUpload" (change)="uploadListener($event)"
          accept=".csv">
      </div>
      <div class="col-auto">
        <button mat-flat-button type="submit" (click)="processCsvFile()">Upload
          Catalogue</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form class="example-form float-end mt-3">
      <mat-form-field class="example-full-width flex-fill" floatLabel="auto">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="filterCatalogue($event.target.value)" autocomplete="off" />
      </mat-form-field>
    </form>
  </div>

</div>

<div class="col-md-12">
  <table mat-table [dataSource]="datasource_songs" class="mat-elevation-z2">
    <!-- Artist Column -->
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef>
        <h4>Artist</h4>
      </th>
      <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
    </ng-container>

    <!-- Song title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        <h4>Title</h4>
      </th>
      <td mat-cell *matCellDef="let song"> {{song.title}} </td>
    </ng-container>

    <!-- ISRC Column -->
    <ng-container matColumnDef="isrc">
      <th mat-header-cell *matHeaderCellDef>
        <h4>ISRC</h4>
      </th>
      <td mat-cell *matCellDef="let song"> {{song.isrc}} </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>
        <h4>Duration</h4>
      </th>
      <td mat-cell *matCellDef="let song"> {{songLength(song.duration)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let song; columns: displayedColumns;"></tr>
  </table>
</div>