/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import "src/assets/scss/variables";

body {
    margin: 0;
    background: $grey-light-80;
    color: $grey-base;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

//Typography
h1, h2, h3, h4, h5, h6 { color: $blue-base;}
h1{ font-size: $size-1; font-weight: 300; text-transform: uppercase; }
h2{ font-size: $size-2; font-weight: 600; text-transform: uppercase; }
h3{ font-size: $size-3; font-weight: 600; text-transform: uppercase; }
h4{ font-size: $size-4; font-weight: 600; text-transform: uppercase; }
h5{ font-size: $size-5; }
h6{ font-size: $size-6; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; }

// Colors
.primary {
    color: $blue-base;
}
table {
    width: 100%;
}

